.footer-img {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5% 8%;
    color: white;
    background-color: black;
    /* margin-top: 693vh; */
}

.Map {
    grid-area: map;
    border-radius: 5px;
    width: 60%;
    min-width: 360px;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin-bottom: 2.5rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    left: 0.5vw;
    position: relative;
}

.footer-links > * > * {
    margin: 0.3rem 0;
}

.footer-links .pages,
.footer-links .misc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-links .pages{
    align-items: flex-end;
}

.footer-links .misc .link{
    position: relative;
}

/* .footer-links .misc .link::after{
    content: '→';
    display: block;
    position: absolute;
    top: 50%;
    left: calc(100% + 0.8rem);
    transform: translate(0, -50%)
} */

.sep{
    display: block;
    width: 2px;
    height: 21vh !important;
    background-color: grey;
    margin: 0 1rem;
}

.socials{
    margin: 2rem 0;
    text-align: center;
    align-content: center;
    margin-left: 2vh;
}

.socials .email{
    text-decoration: underline;
}

.socials .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.pages > a{
    color: white;
}

.misc > a{
    color: white;
}

.socials > a{
    color: white;
}

.social_icons{
    margin-right: 4vw;
}