
@font-face {
  font-family: gothambold;
  src: url(../fonts/FontsFree-Net-Gotham-Bold.ttf);
}
@font-face {
  font-family: gothamlight;
  src: url(../fonts/Gotham\ Light.otf);
}
*{
  box-sizing:border-box ;
  scroll-behavior: smooth;
  font-family: gothambold;
}

body{
  overflow-x: hidden;
  background-color: white;
  margin: 0;
}

nav{
  z-index: 900;
  position: relative;
}

/* The main division wrapping all the sections of the webpage */
.wrapper{
  display: flex;
  flex-direction: column;
  margin-left:auto;
  margin-right:auto;
  height:100vh;
  background-color: black;
}

/* First div of the home page */
.first{
    height: 100vh;
    width: 100%;
    /* background-image: url("../half_black.png"); */
    background-color: white;
    background-size: 50%;
    position: absolute;
    overflow: hidden;
    margin: -8px;
    z-index: 10;
    right: 0;
}  

/* 50% black background of the home page section 1 */
.black_bg{
  background-color: black;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: -5000;
}

/* Main styling of the tedx graphics */
.tedx_img{
  width: 100%;
  height: 100%;
  position: absolute;
  right:150px;
  top: 0;
}

/* Different layers of the tedx graphics */
.x_1_img{
  z-index: 1;
  background: url('../x_1.png');
  background-size: auto 100%;
  background-position: right center;
  transform: scale(1.2);
  background-repeat: no-repeat;
}
.x_2_img{
  z-index: 2;
  background: url('../x_2.png');
  background-size: auto 100%;
  background-position: right center;
  transform: scale(1.2);
  background-repeat: no-repeat;
}
.x_3_img{
  z-index: 3;
  background: url('../x_3.png');
  background-size: auto 100%;
  background-position: right center;
  transform: scale(1.2);
  background-repeat: no-repeat;
}
.edition04{
  z-index: 3;
  background: url(../04edition.png);
  background-size: auto 100%;
  background-position: right center;
  background-repeat: no-repeat;
  right: 8vw;
  top: 6vh;
}

/* The container for the timer */
.timer-container {
  position: absolute;
  bottom: 0px;
  font-family: gothambold;
  width: 50%;
  display: flex;
align-items: center;
}

/* The LIVE IN written beside the timer */
.timer-text {
  opacity: 1;
  bottom: 22vh;
  position: absolute;
  left: 4vw;
  font-family: 'gothamlight';
  font-size: large;   
  letter-spacing: 0.678rem;
  text-transform: uppercase;
  }

  .timer_ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
 
  /* The Days and hours text */
  .timer-li {
    font-size: 16vh;
    display: inline-block;
    list-style-type: none;
    /* text-transform: uppercase; */
    color: #a0a0a0;
    margin: 0;
    /* margin-bottom: -30px; */
    margin-right: 2vw;
    font-family: gothamlight;
  }
  
  /* The span that contains the timer numerals */
  .timer {
    display: block;
    font-size: 16vh;
    /* transform: scale(1, 1.5); */
    transform: scaleY(1);
    font-family: gothambold;
    color: black;
  }
  
  /* responsiveness in the timer container*/
  @media all and (max-width: 768px) {
    .timer-text {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    .timer-li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    .timer {
      font-size: calc(3.375rem * var(--smaller));
    }
  }

  /* ------------------ Second Section starts here ---------------------*/
  /* The second section of the home page */
  .second{
    min-width: 100vh;
    width: 100.15%;
    height: 230vh;
    background-color: black;
    position: absolute;
    overflow: hidden;
    margin-top: 98vh;
    z-index: -1;
    margin-left: -10px;
    right:0;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: flex-start;
  }

  /* The text written on the inifinity logo in the black background */
  .inf_black_text{
    color:white;
    text-align: center;
    position: relative;
    top: 22%;
    z-index: 19;
    font-size: 5vh;
    letter-spacing: 4vh;
    font-family: gothambold;
  }

  /* Styling corrresponding to the infinity logos both in black */
  .inf_black{
    width: 100%;
    position: absolute;
    height: 100vh;
  }
  .inf_black_1{
    /* position: absolute; */
    z-index: 1;
  }
  .inf_black_2{
    /* position: absolute; */
    z-index: 2;
  }
  .inf_black_3{
    /* position: absolute; */
    z-index: 5;
  }
  .inf_black_4{
    /* position: absolute; */
    z-index: 7;
  }
 /* ------------------ Second Section ends here ---------------------*/

  /* ------------------ Third Section starts here ---------------------*/
  /* The third section of the home page */
  .third{
    min-width: 100vh;
    width: 100%;
    height: 160vh;
    background-color: transparent;
    /* display: table-cell; */
    position: absolute;
    margin-top: 291vh;
    z-index: -1;
  }

  /* The text written on the inifinity logo in the white background*/
  .inf_white_text{
    color:black;
    text-align: center;
    position: relative;
    top: 34%;
    z-index: 19;
    font-size: 5vh;
    letter-spacing: 4vh;
    font-family: gothambold;
  }

   /* Styling corrresponding to the infinity logos both in white */
   .inf_white_1{
    position: absolute;
    z-index: 1;
    display: none;
  }
  .inf_white_2{
    position: absolute;
    z-index: 2;
    display: none;

  }
  .inf_white_3{
    position: absolute;
    z-index: 5;
    display: none;

  }
  .inf_white_4{
    position: absolute;
    z-index: 7;
    display: none;

  }
 /* ------------------ Second Section ends here ---------------------*/

  /* Styling of the scroll bar */
  ::-webkit-scrollbar {
    width: 15px;
    background-color: black;
    scroll-margin: -5;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #fc003f;
    height: 10% !important;
  }

  .footer_section{
    margin-top: 25vh;
  }

  .speaker_nomination{
    margin-top: 747vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nom_heading{
  display: block;
  font-size: xx-large;
}

  .speaker_nom_text{
    margin-right: 20px;
    font-size: larger;
    margin-block: 4px;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    margin-block: 5px;
    color: #fff;
    border-radius: 5px;
    padding: 20px 35px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-7 {
    background: linear-gradient(0deg, #ff0039 0%, #ff0039 100%);
      line-height: 42px;
      padding: 4px;
      border: none;
      border-radius: 10px;
      width: 13vw;
      height: 7vh;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: #ff0039;
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }