*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

.section1{
    height: 100vh;
}
.section2{
    height: 100vh;
}

.top-container{
    width: 100%;
    position: absolute;
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    left: 85%;
    /* font-family: 'Gotham'; */
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 57px;
    /* text-align: right; */
    letter-spacing: -0.05em;
}

.top_teams{
    text-align: right;
}

.right-container{
    width: 50%;
    float: right;
    height: 100%;
}



.redbox{
    height: 70vh;
    width: 20vw;
    background-color: red;
    position: absolute;
    right: 5%;
    top: 15%;
}

.redbox_text{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 9vw;
    line-height: 125px;
    letter-spacing: -0.05em;
    color: #000000;
    position: relative;
    right: 85%;
    top: 35%;
}

.row-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* left: 20%; */
    height: 40%;
    top: 102px;
    /* left: -20%; */
}

.row1_photo{
    position: relative;
    /* height: 25%; */
    width: 16.5vw;
    height: auto;
    /* display: flex; */
    /* top: 36%; */
}



.row-2{
    height: 40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 155px;
}
.row-3{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 3vh;
}

.row2_photo{
    position: relative;
    /* height: 10%; */
    width: 16.5vw;
    height: auto;
}

.redbox2{
    height: 70%;
    width: 20%;
    background-color: red;
    position: absolute;
    right: 5%;
    top: 115vh;
}

.redbox_text2{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    line-height: 9vw;
    letter-spacing: -0.05em;
    color: #000000;
    position: relative;
    right: 130%;
    top: 13vh;
}

.row3_photo{
    position: relative;
    /* height: 10%; */
    width: 14.5vw;
    height: auto;
}
.row4_photo{
    position: relative;
    /* height: 10%; */
    width: 14.5vw;
    height: auto;
}
.row5_photo{
    position: relative;
    /* height: 10%; */
    width: 14.5vw;
    height: auto;
    margin: 1vh;
}

.row-4{
    height: 40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 9vh;
}

.row-5{
    height: 40%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 13vh;
}

.bottom-container1{
    width: 100%;
    position: absolute;
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    left: 95%;
    top:85vh;
    /* font-family: 'Gotham'; */
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 57px;
    /* text-align: right; */
    letter-spacing: -0.05em;
}

.bottom_number1{
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.bottom-container2{
    width: 100%;
    position: absolute;
    /* display: flex;
    align-items: flex-end;
    justify-content: flex-end; */
    left: 95%;
    top:185vh;
    /* font-family: 'Gotham'; */
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    line-height: 57px;
    /* text-align: right; */
    letter-spacing: -0.05em;
}

.bottom_number2{
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.row{
    display: inline-block;
}

/* .image1_text{
    background-color: red;
    position: relative;
    height: 25%;
    width: 40%;
    height: auto;
    display: flex;
    top: 36%;
    z-index: 100;
} */
.image1_img
{
    position: relative;
}
.image2_img
{
    position: relative;
}
.image1_text{
    position: absolute;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    background: red;
    color: white;
    font-size: larger;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.image2_text{
    position: absolute;
    bottom: 0;
    left: 5.8vh;
    visibility: hidden;
    opacity: 0;
    background: red;
    color: white;
    font-size: larger;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.image3_text{
    position: absolute;
    bottom: 0;
    left: 47.1vh;
    visibility: hidden;
    opacity: 0;
    background: red;
    color: white;
    font-size: larger;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}
.image1_img:hover{
    cursor: pointer;
   }
   
   .image1_img:hover div{
    width: 38.5%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
.image1_img:hover{
    cursor: pointer;
   }
   
   .image2_img:hover div{
    width: 40%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
