.layer_1{
    height: 100%;
    width: 100%;
}

/* First div of the home page */
.first{
    height: 100vh;
    width: 100%;
    /* background-image: url("../half_black.png"); */
    background-color: white;
    background-size: 50%;
    position: absolute;
    overflow: hidden;
    margin: -8px;
    z-index: 10;
    right: 0;
}  