.nav{
    z-index: 10;
}

/* .show-panel{
    color: white !important;
} */

.about_section{
    height: 100vh;
    overflow: hidden;
}

.about_redbox{
    background: #FF0039;
    height: 100vh;
    width: 27vw;
    position: fixed;
    top: 0;
    left: 73vw;
    z-index: -1;
    float: right;
    writing-mode: vertical-lr;
    font-size: 13vw;
    font-style: normal;
    font-weight: 700;
    /* font-size: 267px; */
    line-height: 256px;
    text-align: right;
    color: #FF5C5C;
}

.about_section h5{
    position: relative;
    top: 16vh;
    left: 13vw;
    z-index: 1;
    color: #9B9B9B;
    font-size: 1.5vw;
    margin-bottom: -4px;
}

.about_section h1{
    position: relative;
    top: 16vh;
    left: 13vw;
    z-index: 1;
    color: #000000;
    width: 100vw;
    font-size: 4vw;
    font-weight: 600;
}

.hr{
    width: 53vw;
    height: 9px;
    border: 2px solid #FF0039;
    position: relative;
    top: 16vh;
    left: 10vw;
    box-sizing: border-box;
    border-bottom-color: transparent
    
}

.about_text{
    width: calc(100% - 49vw);
    position: relative;
    top: 18vh;
    left: 13vw;
    z-index: 1;
    color: #000000;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 400;
    font-size: 1.1vw;
    display: flex;
}

.about_text2{
    width: calc(100% - 49vw);
    position: relative;
    top: 18vh;
    left: 13vw;
    z-index: 1;
    color: #000000;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 400;
    font-size: 1.1vw;
    /* display: flex; */
}

.tedx_pic{
    position: fixed;
    top: 82vh;
    left: 2vw;
    z-index: 5;
    width: 71vw;
    background-color: white;
}

.tedx_pic img{
    height: 18vh;
}

.tedx_pic2{
    top: 9vh;
    display: none;
}

.team_redbox{
        background: #FF0039;
        height: 100vh;
        width: 27vw;
        position: fixed;
        top: 0;
        left: 73vw;
        z-index: -1;
        float: right;
        writing-mode: vertical-lr;
        font-size: 13vw;
        font-style: normal;
        font-weight: 700;
        /* font-size: 267px; */
        line-height: 256px;
        text-align: right;
        color: #FF5C5C;
}

.card{
    border: 0 !important;
}

.card-img-top{
    border-radius: 50% ;
    /* height: min-content; */
}

.card-body{
    text-align: center;
}

.name{
    font-size: 1.2vw;
    font-weight: 600;
    color: #000000;
    margin-bottom: -4px;
    line-height: 1.5;
}

.post{
    background-color: #FF0039;
    margin-inline: -17px;
    color: white;
    font-weight: 600;
    border-radius: 25px;
}

.icon{
    color: #FF0039;
}

.icon .col{
    margin-top: 5px;
}

.about12{
    height: 110vh;
}

.none{
    display: none;
}

/* .removed-none{
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } */

.about_text_3{
    width: 80vw;
    left: 3vw;
}