section.about{
    padding-right: 30vw;
    text-align: justify;
}

.section-title {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    color: #FF5C5C;
    background-color: var(--red-l1);
    z-index: -1;

    writing-mode: vertical-lr;
    /* font-size: 10vw; */
    font-size: calc(400 * (60vh / 1080));
    font-style: normal;
    font-weight: 700;
    /* line-height: 256px; */
    text-align: right;
}

.section-title span {
    padding-bottom: 5%;
    position: relative;
    right: 0.2ch;
    /* left: calc(0vw + 0rem); */
}

.text-wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 0 15vw;
    padding-top: 20vh;
}

.text-wrapper .content{
    max-width: 800px;
}

.text-wrapper .sub-heading{
    color: #9B9B9B;
    font-size: calc(35 * (clamp(400px, 70vw, 550px) / 1080));
    letter-spacing: calc(20 * (clamp(400px, 70vw, 550px) / 1080));
    font-weight: 700;
    text-transform: uppercase;
}

.text-wrapper .heading{
    margin-top: -10px;
    margin-bottom: 2rem;
    font-size: calc(105 * (clamp(400px, 70vw, 550px) / 1080));
    font-weight: 700;
}

.text-wrapper .text{
    font-size: calc(35 * (clamp(500px, 70vw, 550px) / 1080));
    line-height: calc(55 * (clamp(500px, 70vw, 550px) / 1080));
    font-weight: 400;
}
/* 
.hr {
    width: 47vw;
    height: 9px;
    border: 2px solid #FF0039;
    position: relative;
    top: 16vh;
    left: 13vw;
    box-sizing: border-box;
    border-bottom-color: transparent
}

.tedx_pic {
    position: fixed;
    top: 82vh;
    left: 2vw;
    z-index: -5;
    width: 71vw;
    background-color: white;
}

.tedx_pic img {
    height: 18vh;
}

.tedx_pic2 {
    top: 9vh;
    display: none;
}

.card {
    border: 0 ;
}

.card-img-top {
    border-radius: 10%;
    height: 35vh;
}

.card-body {
    text-align: center;
}

.name {
    font-size: 1.2vw;
    font-weight: 600;
    color: #000000;
    margin-bottom: -4px;
    line-height: 1.5;
}

.post {
    background-color: #FF0039;
    margin-inline: -17px;
    color: white;
    font-weight: 600;
    border-radius: 25px;
}

.icon {
    color: #FF0039;
}

.icon .col {
    margin-top: 5px;
}

.about12 {
    height: 110vh;
}

.none1 {
    display: none;
    animation: fade-out 500ms linear;

}

/* @keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
} */

/* .about_text_3 {
    width: 80vw;
    left: -4vw;
}

.about3 {
    min-height: 100vh;
    padding-bottom: 50vh;
} */