.gallery-modal-wrapper {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    place-content: center;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal-close-btn {
    position: fixed;
    top: 4rem;
    right: 3rem;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.image {
    width: 90vw;
    height: calc(9/16 * 90vw);
    max-height: 80vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    z-index: 3;
}