.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: min(25%, 8rem) min(13%, 5rem);
    transition: all 0.3s 0s;
    /* overflow: hidden; */
    z-index: 2;
}

.nav.hidden {
    width: min(100vw, 550px);
    pointer-events: none;
    opacity: 0;
}

.nav.show {
    width: min(100vw, 550px);
    pointer-events: all;
    opacity: 1;
}

.nav::before { --order: 1 }
.nav::after { --order: 2 }

.nav::before,
.nav::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.3s calc(var(--order) * 0.1s);
    z-index: -1;
}
.nav::before{
    width: calc(100% + 10px);
}

.nav.hidden::before,
.nav.hidden::after {
    background-color: transparent;
}

.nav.show::before,
.nav.show::after {
    right: 0;
    transition: all 0.3s calc(var(--order) * 0.1s);
}
.nav.show::before {
    background-color: var(--red);
}
.nav.show::after {
    background-color: #000000;
}

.show-panel {
    position: fixed;
    top: 5%;
    right: 5%;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 1;

    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Gotham', sans-serif;
    letter-spacing: 0.1rem;
}

.nav .close{
    --order: 4;
    position: fixed;
    top: 5%;
    right: 8%;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s calc(var(--order) * 0.1s), all 0.2s;
    
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.nav .close:hover{
    color: var(--red-l1);
}

.nav.hidden .close {
    pointer-events: none;
    opacity: 0;
}
.nav.show .close {
    pointer-events: all;
    opacity: 1;
}


.nav .links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(35 * (clamp(450px, 30vw, 500px) / 1080));
    align-items: left;
    --order: 3;
}
.nav.hidden .links{
    transition: all 0.2s 0s;
    opacity: 0;
    pointer-events: none;
}
.nav.show .links {
    transition: all 0.2s calc(var(--order) * 0.1s);
    pointer-events: all;
    opacity: 1;
}

.nav .links a {
    display: inline-block;
    margin: 0.7rem 0;
    transition: color 0.2s;
    
    color: white;
    text-align: left;
    font-size: calc(35 * (clamp(450px, 30vw, 500px) / 1080));
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.nav .links a:hover {
    color: var(--red)
}

.nav .flower{
    position: absolute;
    right: 0;
    bottom: 0;
    width: clamp(35vh, max(35vw, 35vh), 400px);
    transition: all 0.2s calc(var(--order) * 0.1s);

    --order: 3;
}
.nav.hidden .flower {
    opacity: 0;
    pointer-events: none;
}
.nav.show .flower {
    pointer-events: all;
    opacity: 1;
}