.wrapper {
    display: grid;
    position: relative;
    place-content: center;
    overflow: hidden;
    
}


.wrapper .logo {
    position: fixed;
    left: 0;
    bottom: 0;
    height: var(--watermark-logo-size);
    transform: translate(20%, 0);
    z-index: -1;
}
.partners-wrapper{
    width: 80vw;  
}

.partners-wrapper .title{
    width: 100%;
    margin-bottom: 4rem;
    text-align: left;
    font-size: calc(160 * (clamp(300px, 63vw, 600px) / 1080));
    font-weight: 700;
    position:relative;
    align-items: center;
    margin-top: clamp(100px,10%,160px);

}

.partners-wrapper .title::before{
    width: calc(3.5ch + 10vw) ;
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    height: 120%;
    background-color: var(--red-l3);
    transform: translate(-10vw,-5%);
    z-index: -1;
}

.partner-scroller{
    margin-top: 10%;
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    grid-template-columns: repeat(
    auto-fit, minmax(260px, 1fr));
}

.partners-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    max-width: 200px;
    height: 125px;
}

.partners-images img{
    width: 60%;
}
.partners-images::before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

