.logo.watermark {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 150px;
    transform: translate(20%, 0);
}

.theme-bg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    z-index: -1;
}

.theme-bg img {
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    height: 100%;
    transform: translate(0, -50%);
}

.intro-wrapper {
    /* display: flex; */
    position: relative;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    padding: max(20vh, 250px) min(15vw, 150px);
    color: white;
}

.intro-wrapper .content {
    display: flex;
    /* position: absolute; */
    top: 50%;
    left: 15%;
    width: 100%;
    max-width: 700px;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* transform: translate(0, -50%); */
}

.intro-wrapper .title {
    text-align: left;
    font-size: calc(130 * (clamp(250px, 80vw, 600px) / 1080));
    font-weight: 700;
    text-transform: uppercase;
}

.intro-wrapper .catchphrase {
    text-align: left;
    padding: calc(15 * (clamp(400px, 80vw, 500px) / 1080));
    background-color: var(--red-l1);
    color: white;
    font-weight: 400;
    font-size: calc(30 * (clamp(400px, 80vw, 500px) / 1080));
    text-transform: uppercase;
    letter-spacing: calc(10 * (clamp(400px, 80vw, 500px) / 1080));
}

.intro-wrapper .catchphrase+.year {
    margin-top: 1rem;
}

.intro-wrapper .year {
    text-align: left;
    padding-left: calc(10 * (clamp(400px, 80vw, 500px) / 1080));
    font-size: calc(30 * (clamp(400px, 80vw, 500px) / 1080));
    font-weight: 400;
    letter-spacing: 1rem;
}

.intro-wrapper .intro {
    text-align: justify;
    margin-top: 2rem;
    padding-left: calc(10 * (clamp(400px, 80vw, 500px) / 1080));
    font-size: calc(35 * (clamp(400px, 80vw, 500px) / 1080));
    line-height: calc(55 * (clamp(400px, 80vw, 500px) / 1080));
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.intro-wrapper .quote {
    margin: 1rem 0;
    padding: 0 2rem;
}

.intro-wrapper .quote .text {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.2rem;
}

.intro-wrapper .quote .name {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-style: italic;
    font-size: 1rem;
}

/* speakers section + gallery section */
.speakers-wrapper,
.gallery-wrapper {
    position: relative;
    color: white;
}

.speakers-wrapper .content,
.gallery-wrapper .content {
    display: flex;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 100%;
    height: 100%;
    padding: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* transform: translate(-50%, -50%); */
}

.speakers-wrapper .content .title,
.gallery-wrapper .content .title {
    position: relative;
    text-align: left;
    font-size: calc(120 * (clamp(300px, 60vw, 500px) / 1080));
    font-weight: 700;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.speakers-wrapper .content .title::after,
.gallery-wrapper .content .title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 1rem;
    background-color: var(--red-l1);
    transform: translate(-50%, 0);
}

.speakers,
.gallery {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media only screen and (max-width: 900px){
    .speakers{
        justify-content: center;
    }
}

.speaker,
.gallery-image {
    width: clamp(100px, 10vw, 150px);
    height: clamp(100px, 10vw, 150px);
    margin: 1rem;
    border-radius: 100px;
    transition: all 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.speaker img,
.gallery-image img {
    height: 100%;
}

.speaker:hover,
.gallery-image:hover {
    background-color: var(--red-l1);
}

/* gallery specific changes */
.gallery {
    max-width: unset;
    justify-content: center;
}

.gallery-image {
    display: flex;
    position: relative;
    width: clamp(150px, 30vw, 250px);
    height: calc(3/4 * clamp(150px, 30vw, 250px));
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border-radius: 8px;
}

.speaker img,
.gallery-image img {
    width: auto;
    height: 100%;
    transition: transform 0.2s;
    transform: scale(1.1);
}

@media only screen and (max-width: 760px){
    .gallery-image{
        width: 80vw;
    }
    .gallery-image img{
        width: 100%;
        height: auto;
    }
}

.speaker:hover img,
.gallery-image:hover img {
    transform: scale(1.2);
}

/* needed some extra padding above footer */
.footer {
    margin-top: 20vh;
}