.booking-modal-wrapper {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    place-content: center;
}

.booking-modal-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

/* close button */
.booking-modal-wrapper .close-btn {
    position: fixed;
    top: 4rem;
    right: 3rem;
    z-index: 5;
    cursor: pointer;
    color: white;
}

.booking-modal-wrapper .container {
    position: relative;
    width: 90vw;
    max-width: 500px;
    height: 90vh;
    max-height: 500px;
    color: black;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: auto;
    z-index: 3;
    overflow-x: hidden;
}

.booking-modal-wrapper .container .overflow-wrapper{
    height: calc(100% - max(15%, 80px));
    overflow-y: auto;
    overflow-x: hidden;
}

.booking-modal-wrapper .container .top{
    height: 35%;
    padding-bottom: 5%;
    min-height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #FF0039;
}

.booking-modal-wrapper .container .top .session{
    font-size: 37px;
    color: white;
    font-weight: 500;
    line-height: 2;
}

.booking-modal-wrapper .container .top .hash{
    font-size: 20px;
}

.booking-modal-wrapper .container .top .session-text{
    font-size: 29px;
    color: #FF5C5C;
    letter-spacing: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


/* .booking-modal-wrapper .container .content {
    position: absolute;
    left: 0;
    width: 100%;
    float: right;
    padding: 1rem 10%;
    min-height: 130px;
    height: calc(100% - 70%);
    justify-content: space-around;

    background-color: white;
} */

.booking-modal-wrapper .container .content{
    position: relative;
    padding: 5% 10%;
    background-color: var(--grey-l2);
}

.booking-modal-wrapper .container .contents-wrapper {
    display: flex;
    flex-direction: row;
    padding: 2.5% 0;
}

.booking-modal-wrapper .container .speaker-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.booking-modal-wrapper .container .speaker-img img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #FF0039;
}

.booking-modal-wrapper .container .name-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 10%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.booking-modal-wrapper .container .name {
    top: 10px;
    left: 143px;
    /* position: absolute; */
    margin-left: 0;
    width: fit-content;
    line-height: 1;
    font-weight: 500;
    font-size: calc(85 * (clamp(250px, 10vw, 400px) / 1080));
}

.booking-modal-wrapper .container .time {
    top: 33px;
    left: 143px;
    margin-top: 5px;
    color: var(--grey-l1);
    font-size: calc(45 * (clamp(340px, 70vw, 400px) / 1080));
    font-weight: 200;
}

.booking-modal-wrapper .container .btn-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: max(15%, 80px);
    justify-content: center;
    align-items: center;
}

.booking-modal-wrapper .container .booking-btn{
    position: sticky;
    width: 140px;
    padding: 0.7rem 1.8rem;
    cursor: pointer;
    border-radius: 40px;

    background-color: var(--red-l1);
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: calc(47 * (clamp(400px, 35vw, 420px) / 1080));
    line-height: calc(55 * (clamp(400px, 50vw, 420px) / 1080));
}

@media only screen and (max-width: 400px){
    .booking-modal-wrapper .container .contents-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 7.5% 0;
    }

    .booking-modal-wrapper .container .name-wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 5%;
        text-align: center;
    }
}